@font-face {
    font-family: 'Lazenby';
    src: url('lazenby.woff2') format('woff2'),
        url('lazenby.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
