@font-face {
  font-family: 'Mountains of Christmas';
  src: url('mountainsofchristmas.woff2') format('woff2'),
    url('mountainsofchristmas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
